In [1]:
from sklearn import tree
import pandas as pd

In [2]:
pwd

'/Users/pspuri22'

In [3]:
cd Exercises/Project3

/Users/pspuri22/Exercises/Project3

In [4]:
df = pd.read_csv("US_Accidents_2018")

In [5]:
df_selected_features = df.loc[:,['Severity','Precipitation(in)', 'Temperature(F)', 'Sunrise_Sunset']]

In [7]:
df_selected_features.head()

   Severity  Precipitation(in)  Temperature(F) Sunrise_Sunset
0         3               0.16            46.9          Night
1         3               0.15            46.4          Night
2         3               0.04            57.0            Day
3         2                NaN            39.9          Night
4         2                NaN            43.0          Night

In [8]:
#fix data set at begining to avoid conflict in model later

In [9]:
# Drop the null columns where all values are null
#df = df.dropna(axis='columns', how='all')
# Drop the null rows
df_selected_features = df_selected_features.dropna()

In [10]:
df_selected_features.head()

    Severity  Precipitation(in)  Temperature(F) Sunrise_Sunset
0          3               0.16            46.9          Night
1          3               0.15            46.4          Night
2          3               0.04            57.0            Day
9          3               0.02            25.0          Night
69         3               0.00            37.9            Day

In [11]:
df.head(2)

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Time2
0,1145140,A-1145154,MapQuest,201.0,3,2018-12-31 23:54:51,2019-01-01 01:35:42,40.740047,-73.818512,NaN,...,False,False,False,False,False,Night,Night,Night,Night,2018-12-31 23:54:51
1,1145142,A-1145156,MapQuest,245.0,3,2018-12-31 22:40:11,2019-01-01 01:25:56,40.834370,-73.864113,NaN,...,False,False,False,False,False,Night,Night,Night,Night,2018-12-31 22:40:11

In [23]:
# df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)

#         # Then, drop the column as usual.

# df.drop(["a"], axis=1, inplace=True)

In [24]:
# df.head(2)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Time2
1,A-1145156,MapQuest,245.0,3,2018-12-31 22:40:11,2019-01-01 01:25:56,40.834370,-73.864113,NaN,NaN,...,False,False,False,False,False,Night,Night,Night,Night,2018-12-31 22:40:11
2,A-1145466,MapQuest,201.0,3,2018-12-31 12:35:54,2019-01-01 00:36:01,38.441975,-88.953049,NaN,NaN,...,False,False,False,False,False,Day,Day,Day,Day,2018-12-31 12:35:54

In [26]:
# Set features. This will also be used as your x values.
#selected_features = df[['Precipitation(in)', 'Temperature(F)', 'Sunrise_Sunset']]

In [12]:
change ={'Day':2,'Night':1}

In [13]:
df_selected_features[['Sunrise_Sunset']] = df_selected_features[['Sunrise_Sunset']].replace(change)

/Users/pspuri22/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [14]:
df_selected_features.head(10)

     Severity  Precipitation(in)  Temperature(F)  Sunrise_Sunset
0           3               0.16            46.9               1
1           3               0.15            46.4               1
2           3               0.04            57.0               2
9           3               0.02            25.0               1
69          3               0.00            37.9               2
70          2               0.00            37.0               2
75          2               0.00            35.1               1
79          2               0.00            35.1               1
87          2               0.00            33.1               1
105         2               0.00            34.0               2

In [16]:
y = df_selected_features["Severity"]

In [25]:
df_selected_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118092 entries, 0 to 892605
Data columns (total 4 columns):
Severity             118092 non-null int64
Precipitation(in)    118092 non-null float64
Temperature(F)       118092 non-null float64
Sunrise_Sunset       118092 non-null int64
dtypes: float64(2), int64(2)
memory usage: 4.5 MB

In [17]:
y.head(2)

0    3
1    3
Name: Severity, dtype: int64

In [30]:
df_selected_features.groupby(['Severity']).count()

          Precipitation(in)  Temperature(F)  Sunrise_Sunset
Severity
1                        33              33              33
2                     71208           71208           71208
3                     43121           43121           43121
4                      3730            3730            3730

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118091 entries, 1 to 892605
Data columns (total 3 columns):
Precipitation(in)    118091 non-null float64
Temperature(F)       118091 non-null float64
Sunrise_Sunset       118091 non-null float64
dtypes: float64(3)
memory usage: 3.6 MB

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_selected_features.iloc[:,1:3], y, random_state=42)

In [20]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6013616502387968

In [21]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5990583612776479

In [24]:
sorted(zip(rf.feature_importances_, df_selected_features), reverse=True)

[(0.6655409293970739, 'Precipitation(in)'), (0.3344590706029261, 'Severity')]